@import "./abstracts/_abstracts-dir";
@import "./base/_base-dir";
@import "./components/_components-dir";
@import "./layouts/_layouts-dir";
@import "./vendor/_vendor-dir";


body {
    // width: 100%;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.big-container {
    width: 60%;
    height: 65vh;
    background-color: #FC9068;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    box-shadow: 1.5px 1px 5px black;
    .header-box {
        width: 60%;
        height: 20%;
        background-color: #24F5F0;
        margin: 2rem;
        border-radius: 15px ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .password-box {
        width: 70%;
        height: 20%;
        background-color: #686AFC;
        margin: 2rem;
        border-radius: 15px ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem
    }
    .horizontal-line {
        width: 80%;
        border-bottom: 5px solid black;
    }
    .footer-box {
        width: 80%;
        height: 40%;
        background-color: #686AFC;
        margin: 2rem;
        border-radius: 15px ;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            background-color: gray;
            width: 20%;
            height: 20%;
        }
    }
}

